{% load i18n %}

<div class="sga-block" data-state="{{ student_state }}" 
     data-staff="{{ is_course_staff }}">

  <script type="text/template" id="sga-tmpl">
    <% if (display_name) { %>
       <h2 class="problem-header"><%= display_name %></h2>
    <% } %>

    <% if (graded) { %>
      <div class="problem-progress">(<%= graded.score %> / <%= max_score %> )</div>
      <p>
        <% if (graded.comment) { %>
          <b>Instructor comment</b> <%= graded.comment %>
        <% } %>
      </p>
    <% } else { %>
      <div class="problem-progress">(0 / <%= max_score %> )</div>
      <p>
        {% trans "This assignment has not yet been graded." %}
      </p>
    <% } %>
  </script>

  <div id="sga-content">
  </div>

  {% if is_course_staff %}
  <script type="text/template" id="sga-grading-tmpl">
    <table id="grading-table" class="gridtable" style="width: 100%">
      <tr>
        <th width="20%">Username</th>
        <th width="20%">Email</th>
        <th width="5%">Score</th>
        <th width="5%">Max Score</th>
        <th width="18%">Comment</th>
        <th width="5%">Score</th>
        <th width="18%">Comment</th>
        <th width="8%"></th>
      </tr>
      <% for (var i = 0; i < assignments.length; i++) { %>
      <%     var assignment = assignments[i]; %>
        <tr id="row-<%= assignment.module_id %>">
          <td><%= assignment.username %></td>
          <td><%= assignment.email %></td>
          <td><%= assignment.score %></td>
          <td><%= max_score %></td>
          <td><%= assignment.comment %></td>
          <td style="padding: 5px;">
            <input type="number" class="grade-input" id="grade-input-row-<%= assignment.module_id %>" 
              style="height: 95%; width: 90%"/>
          </td>
          <td><input class="comment-input" type="text" data-parent="grade-input-row-<%= assignment.module_id %>" /></td>
          <td>
            <a class="remove-grade-button button" href="#">
              {% trans "Clear" %}
            </a>
          </td>
        </tr>
      <% } %>
    </table>
  </script>

  <script type="text/template" id="sga-error-tmpl">
    <div class="error">
      <i class="icon-exclamation-sign" style="color: sienna;"></i>
      <span class="message-error"><%= error %></span>
    </div>
  </script>

  <div aria-hidden="true" class="wrap-instructor-info">
    <a class="instructor-info-action" id="grade-submissions-button"
       href="#{{ id }}-grade">{% trans "Grade Submissions" %}</a>
    <a class="instructor-info-action" id="staff-debug-info-button"
       href="#{{ id }}-debug">{% trans "Staff Debug Info" %}</a>
  </div>

  <section aria-hidden="true" class="modal staff-modal" id="{{ id }}-grade">
    <div class="inner-wrapper" style="color: black; overflow-y:scroll; height:500px;">
      <header><h2>{% trans "Staff Graded Assignment" %}</h2></header>
      <a class="modal_close" href="#">X</a>
      <br/>
      <div id="submit-grade">
        <a id="submit-grade-button" class="button" href="#">
          {% trans "Submit" %}
        </a>
      </div>
      <br/>
      <div class="error" style="display: none;">
        <i class="icon-exclamation-sign" style="color: sienna;"></i>
        <span class="message-error">Cannot submit form due to invalid data.</span>
      </div>
      <br/>
      <div id="grade-info">
        Loading...
      </div>
      <div>&nbsp;</div>
    </div>
  </section>

  <section aria-hidden="true" class="modal staff-modal" 
           style="height: 80%" id="{{ id }}-debug">
    <div class="inner-wrapper" style="color: black">
      <header><h2>{% trans "Staff Debug" %}</h2></header>
      <br/>
      <div class="staff_info" style="display: block; white-space: normal">
        is_released = {{ is_released }}<br/>
        location = {{ location }}<br/>
        <br/>
        <table summary="${_('Module Fields')}">
          <tr><th>{% trans "Module Fields" %}</th></tr>
          {% for name, field in fields %}
          <tr>
            <td>{{name}}</td>
            <td>
              <pre style="display:inline-block; margin: 0;">{{field}}</pre>
            </td>
          </tr>
          {% endfor %}
        </table><br/>
        category = {{category}}
      </div>
    </div>
  </section>
  {% endif %}
</div>
