{% load i18n %}

<div class="sga-block" data-state="{{ student_state }}" 
     data-staff="{{ is_course_staff }}">

  <script type="text/template" id="sga-tmpl">
    <% if (display_name) { %>
       <h2 class="problem-header"><%= display_name %></h2>
    <% } %>

    <% if (graded) { %>
      <div class="problem-progress">(<%= graded.score %> / <%= max_score %> )</div>
      <p>
        <% if (graded.comment) { %>
          <b>Instructor comment</b> <%= graded.comment %>
        <% } %>
      </p>
    <% } else { %>
      <div class="problem-progress">(0 / <%= max_score %> )</div>
      <p>
        {% trans "This assignment has not yet been graded." %}
      </p>
    <% } %>
  </script>

  <div id="sga-content">
  </div>

  {% if is_course_staff %}
  <script type="text/template" id="sga-grading-tmpl">
    <table id="grading-table" class="gridtable">
      <tr>
        <th width="10"><input type="checkbox" id="select-all"/></th>
        <th width="auto">Username</th>
        <th width="auto">Email</th>
        <th width="40">Score</th>
        <th width="40">Max Score</th>
        <th width="200">Comment</th>
      </tr>
      <% for (var i = 0; i < assignments.length; i++) { %>
      <%     var assignment = assignments[i]; %>
        <tr id="row-<%= assignment.module_id %>">
          <td><input type="checkbox" class="singles" /></td>
          <td><%= assignment.username %></td>
          <td><%= assignment.email %></td>
          <td><%= assignment.score %></td>
          <td><%= max_score %></td>
          <td><%= assignment.comment %></td>
          <td>
            <a class="enter-grade-button button" href="#{{ id }}-enter-grade">
              {% trans "Enter grade" %}
            </a>
          </td>
        </tr>
      <% } %>
    </table>
  </script>

  <div aria-hidden="true" class="wrap-instructor-info">
    <a class="instructor-info-action" id="grade-submissions-button"
       href="#{{ id }}-grade">{% trans "Grade Submissions" %}</a>
    <a class="instructor-info-action" id="staff-debug-info-button"
       href="#{{ id }}-debug">{% trans "Staff Debug Info" %}</a>
  </div>

  <section aria-hidden="true" class="modal staff-modal" id="{{ id }}-grade">
    <div class="inner-wrapper" style="color: black; overflow-y:scroll; height:500px;">
      <header><h2>{% trans "Staff Graded Assignment" %}</h2></header>
      <a class="modal_close" href="#">X</a>
      <br/>
      <div id="bulk-grade" style="display:none">
        <a id="enter-bulk-grade-button" class="button" href="#{{ id }}-enter-grade">
          {% trans "Enter bulk grade" %}
        </a>
        <a id="remove-bulk-grade-button" class="button" href="#">
          {% trans "Remove bulk grade" %}
        </a>
      </div>
      <br/>
      <div id="grade-info">
        Loading...
      </div>
      <div>&nbsp;</div>
    </div>
  </section>

  <section aria-hidden="true" class="modal staff-modal" 
           style="height: 80%" id="{{ id }}-debug">
    <div class="inner-wrapper" style="color: black">
      <header><h2>{% trans "Staff Debug" %}</h2></header>
      <br/>
      <div class="staff_info" style="display: block; white-space: normal">
        is_released = {{ is_released }}<br/>
        location = {{ location }}<br/>
        <br/>
        <table summary="${_('Module Fields')}">
          <tr><th>{% trans "Module Fields" %}</th></tr>
          {% for name, field in fields %}
          <tr>
            <td>{{name}}</td>
            <td>
              <pre style="display:inline-block; margin: 0;">{{field}}</pre>
            </td>
          </tr>
          {% endfor %}
        </table><br/>
        category = {{category}}
      </div>
    </div>
  </section>

  <section aria-hidden="true" class="modal grade-modal" id="{{ id }}-enter-grade">
    <div class="inner-wrapper" style="color: black">
      <header><h2>{% trans "Enter Grade" %}</h2></header>
      <br/>
      <div style="display: block;">
        <form id="enter-grade-form">
          <input id="module_id-input" type="hidden" name="module_id"/>
          <input id="submission_id-input" type="hidden" name="submission_id"/>
          <div id="grade-for">Grade for <span id="student-name"/></div>
          <div>Grade: <input id="grade-input" name="grade"/>
            <span class="error"></span></div>
          <div>Comment: <textarea id="comment-input" name="comment" rows="4"></textarea></div>
          <div>
            <button type="submit">{% trans "Submit" %}</button>
            <button type="button" id="enter-grade-cancel">
              {% trans "Cancel" %}
            </button>
            <button type="button" id="remove-grade">
              {% trans "Remove grade" %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
  {% endif %}
</div>
